name: dataArk

services:
  dataarkapi:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "7845:7845"
    volumes:
      - ./archive:/archive
    depends_on:
      database:
          condition: service_healthy
    command: [
      "-loc", "/archive/",
      "-mhost", "http://meili:7700",
      "-mkey", "masterkey",
      "-dbhost", "database",
    ]

  meili:
    image: getmeili/meilisearch:v1.15
    environment:
      MEILI_MASTER_KEY: "masterkey"
    volumes:
      - ./meili_data:/meili_data

  database:
    image: postgres:17-alpine3.21
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "echoark"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d echoark"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s